
@font-face{
  font-family: "Rubik";
  src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	color:white;
	font-family: "Rubik";

}

body {
	background: rgb(13, 19, 35);
	display: flex;
	justify-content: center;
	align-items: center;
}


.one {grid-area:one;}
.two {grid-area:two;}
.three {grid-area:three;}
.four {grid-area:four;}
.five {grid-area:five;}
.six {grid-area:six;}
.seven {grid-area:seven;}



.grid-container{
	width: 100%;
	height:70vh;
	margin-top:20vh;
	/*margin: 10vh auto;*/
	/*background:yellow;*/
	display: grid;
	justify-content: center;
	grid-template-areas: 
	'one two three four'
	'one five six seven'
	;
	gap:10px;
}

.section {
	margin: 10px;
	/*min-height:40px;*/
	width:300px;
	border-radius: 20px;
	background:yellow;
	display: flex;
	flex-direction: column;
	gap:10px;
}


/*Css for the first grid*/

.one {
	display: flex;
	flex-direction: column;
	background: red;
	/*max-height:100%;*/
	/*gap:20px;*/
}
.profile-grid,.period-grid{
	border-radius: inherit;
}

.profile-grid{
	height: 70%;
	background:rgb(86, 70, 232);
	z-index: 10;
}

.period-grid{
	z-index: 5;
	margin-top:-40px;
	background:rgb(29, 32, 74);
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:20px;
}

.period-grid {
	padding-left:30px;
}


.profile-image{
	/*border:1px solid red;*/
}

.profile-image > img{
	margin:50px auto auto 50px;
	border-radius:50%;
	height:100px;
	border:3px solid white;

}

.profile-name{
	/*border:1px solid yellow;*/
	padding:30px;
}


.two,.three,.four,.five,.six,.seven{
	/*background-color:blue;*/
	/*width:200px;*/
	/*height:300px;*/
}

.two {
}

.two > .image-section {
	background:rgb(252, 138, 99);
}

.three > .image-section {
	background:#55C0E3;
}

.four > .image-section {
	background:rgb(252, 93, 124);
}

.five > .image-section {
	background:rgb(74, 205, 129);
}

.six > .image-section {
	background:rgb(113, 53, 207);
}

.seven > .image-section {
	background:rgb(239, 197, 90);
}


.two > .image-section {
	background:rgb(252, 138, 99);
}

.image-section{
	display: flex;
	justify-content: space-between;
	border-radius: inherit;

}

.image-section > img {
	margin-right:20px;
	/*border:1px solid red;*/
	height:80px;
	min-width:80px;
}

.inner-section{
	margin-top: -30px;
	height:100%;
	display: flex;
	flex-direction: column;
	background:rgb(29, 32, 74); 
	border-radius: 10px;
	gap:20px;

}
.inner-heading{
	color:white;
	border-radius:inherit;
	/*border:1px solid cyan;*/
	height:50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:20px;
	padding: 20px;
}

h1{
	font-weight: 400;
}

.jeremy {
	font-size: 40px;
	font-weight: 400;
}
.inner-description{
	/*border: 1px solid red;*/
	/*display: none;*/
	padding-left:20px;
	height: 100%;
}

.hours {
	padding:10px;
	font-size: 45px;
}

.last-week{
	color: rgb(255,255,255,0.8);
	padding:10px;
}