@font-face{
  font-family: "Bull";
  src: url("./fonts/Bulletto Killa.ttf");
}

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	color:white;
	font-family: "Montserrat";
}


body {
	background:rgb(39,39,39,0.1);
	/*background:rgb(29,32,74,0.8);*/
	background:rgb(29,32,74);
	background: white;
}

.header{
	/*background:red;*/
	min-height:8vh;
	display: flex;
	padding:10px 3vw;
	width: 100%;
	margin:30px auto;
	justify-content: space-between;
	align-items: center;
}

.main-container{
	max-height: 100vh;
	margin:0 auto;
	width: 95%;
}


.header > input[type="text"]{	
	width: 24%;
	border:none;
	border-radius: 8px;
	padding:12px;
	color:black;
	background: white;
	background: rgb(0,0,0,0.1);
}

h1 {
	font-size:36px;
}
.header > h1 {
	color:rgb(0, 69, 134);
	/*font-family: monospace;*/
}


.row{
	min-height: 33vh;
	margin:2vw auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2vw;
}

.row-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 26vw;
	width: 22vw;
	/*box-shadow: 1px 1px 50px rgb(39,39,39,0.2);*/
}

.item-image-holder {
	background: white;
	height: 80%;
	width: 100%;
	/*border:4px solid red;*/
}

.item-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20%;
	background: rgb(39,39,39,0.5);
}
.item-image-holder > img {
/*	height: 100%;
	width: 100%;*/
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: 100% 100%; 
}


.item-title > h1 > a {
	color:white;
	font-size: 24px;
	text-decoration: none;
}

/*View item page*/
.one {
	grid-area: one;
	width: 100%;
	height: 100%;
}

.description{
	grid-area:two;
}

.ingredients{
	grid-area:three;
}
.equipment{
	grid-area:four;
}


.view-item-row{
	min-height: 35vw;
	margin:2vw auto;
	display: grid;
	grid-template-areas: 
	'one two two two'
	'one three three three'
	'one four four four'
	;
	gap:1vw;
}

.one {
	/*background: cyan;*/
	display: flex;
	align-items: center;
	/*max-width: 30vw;*/
	flex-direction: column;
	/*border: 5px solid red;*/
}


.details{
	padding:20px;
	border-radius: 8px;
	background: rgb(39,39,39,0.5);
	background: rgb(0,0,0,0.1);

}


.details > p {
	padding:10px;
	font-size:20px;
}


.item-value{
	margin:10px 20px;
	font-size: 20px;
}

.ingredients,.description,.equipment{
	width:65vw;
}


.view-image-holder{
	height: 80%;
	width: 100%;
	background: black;
}

.view-image{
	width:100%;
	height: 100%;
}

.view-image-title{
	padding:20px;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.view-image-title,.item-title{
	color:black;
	background:rgb(0, 69, 134);
}


.details > h1 {
	color:rgb(0, 69, 134);
}


.details > p,.details > li  {
	color:black;
}








/*Tablet screens*/
@media screen and (max-width: 1200px){
	body{
		/*background: cyan;*/
	}

	.main-container{
		width: 99vw;
	}

	h1 {
		font-size:4vw;
	}


	.header > input[type="text"]{	
		width: 31%;
	}

	.row{

		gap:3vw;
		width: 96vw;
	}

	.row-item {
		width: 30vw;
	}

	.item-title > h1 > a {
		font-size: 1.7vw;
	}


} 


.view-item-row{
	grid-template-areas: 
	'one two'
	'one three'
	'one four'
	;
}

.details{
	padding:20px;
}


.details > p {
	padding:10px;
	font-size:20px;
}


.item-value{
	margin:10px 20px;
	font-size: 20px;
}

.ingredients,.description,.equipment{
	width:50vw;
}


.view-image-title{
	padding:20px;
}


.view-image-title,.item-title{
	color:black;
	background:rgb(0, 69, 134);
}


.details > h1 {
	font-size:23px;
}


.details > p,.details > li  {
	padding:0px;
	margin:0px 10px;
	font-size:15px;
}












/*Phone screens*/
@media screen and (max-width: 600px){
	body{
		/*background: yellow;*/
	}


	.main-container{
		width: 90vw;
	}

	.header {
		padding:20px 5vw;
		flex-direction: column;
		align-items: flex-start;
		gap:2vh;
	}
	h1 {
		font-size:26px;
	}
	.header > input[type="text"]{	
		width: 100%;
	}


	.row {
		flex-direction: column;
		width: 100%;
		gap:4vh;
	}

	.row-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 70vw;
		width: 100%;
		/*box-shadow: 1px 1px 50px rgb(39,39,39,0.5);*/
	}

	.item-title > h1 > a {
		font-size: 20px;
	}


	/*View item page*/
	.one {
		grid-area: one;
		width: 100%;
		height: 100%;
	}



	.view-item-row{
		min-height: 35vw;
		margin:2vw auto;
		display: flex;
		flex-direction: column;
		gap:4vw;
	}


	.details{
		width: 100%;
		padding:20px;

	}



} 



