* {
	margin:0px;
	padding:0px;
	box-sizing:border-box; 
	font-family: "Montserrat";
	transition: all .5s ease-in-out;
}



body {
	background:rgb(247, 247, 247);
}

.section {
	min-height:100vh;
}

/* THIS IS THE FIRST SECTION*/

.first-section {
	background:url('images/hero.png');
	background-size: 100% 100%;
	background-position: center;
	min-height: 120vh;
}

.first-section-title,.first-section-body{
	margin:0px auto;
}

.first-section-title{
	/*border:4px solid black;*/
	width:90vw;
	padding-top:1vh;
	min-height:6vh;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.left-sub-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background:red;*/
	gap:40px;
}

.brand-links{
	/*background:green;*/
	display: flex;
	justify-content: space-between;
}

.list {
	margin: 20px;
	list-style: none;
}

a {
	text-decoration: none;
	color:white;
	display: inline-block;
	/*background :red;*/
}

.brand-name > li >  a {
	font-weight: 700;
	font-size:40px;
}

.brand-links > li > a,.right-sub-title > li > a,.right-sub-title > button, .first-section-body > p{
	font-weight: 500;
	/*color:yellow;*/
	font-size: 20px;
}

.right-sub-title{
	/*background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*gap:40px;*/
}

.right-sub-title > button {
	color:white;
	font-weight: 600;
	margin:20px;
	border:none;
	padding:20px;
	background:rgb(35, 164, 237);
	border-radius: 4px ;
}

.menu-icon {
	display: none;
}


.first-section-body{
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40%;
	align-items: center;
	text-align: center;
	height: 30vw;
	color:white;
}

.first-section-body > h1 {
	font-size: 70px;
	margin-top: 10vw;
}

.first-section-body > p {
	/*border:4px solid yellow;*/
	font-size: 25px;
	padding:40px;
}

.buttons{
	display: flex;
	justify-content: space-between;
	gap:20px;
}

.buttons > button {
	padding: 20px;
	color:white;
	font-weight: 600;
	font-size:20px;
	border-radius:30px;
}



.button-one,.button-two {
	border: 2px solid white;
	background:transparent;
	/*transition: all .1s linear;*/
}


.button-one:hover,.button-two:hover {
	background:rgb(35, 164, 237);
	border:none;
}

/*THIS IS THE SECOND SECTION*/

.second-section {
	background:rgb(247, 247, 247);
	min-height:15vw;
}


.second-section-container{
	/*background-color:red;*/
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

}


/*The boxes that contain peace of mind,set for life ...*/
.second-sub-section{
	/*display: none;*/
	margin-top: -5vw;
	padding:2vw;
	padding-left:3vw;
	background:white;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	/*border:4px solid yellow;*/
	box-shadow: 1px 1px 50px rgb(39,39,39,0.3);
}

.second-sub-section:hover{
	background:rgb(35, 164, 237);
	color:white;
}

.second-sub-section:hover > p{
	color:white;
}

.second-sub-section > p {
	color:grey;
	font-size: 1vw;
	padding:20px 80px 0px 0px;
}


.second-section-icon {
	height: 80px;
}


/*THIS IS THE THIRD SECTION*/

.third-section {
	background:white;
	min-height:20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.third-section-container{
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}


/*The boxes that contain peace of mind,set for life ...*/
.third-sub-section{
	padding:2vw;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.third-sub-section > p { 
	color:grey;
	font-size: 1vw;
}


.third-section-icon {
	max-height: 100px;
	/*margin: 20px; */
}


.fourth-section{
	min-height: 30vw;
	background:rgb(247, 247, 247);
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	/*align-items: center;*/
}

.fourth-header{
	margin:6vh;
	/*background:yellow;*/
	width: 60vw;
	padding:20px;
	text-align: center;
}

.fourth-header > h1 {
	padding: 20px;
	font-size:58px;
} 
.fourth-header > p {
	color: grey;
	font-size: 20px;
	padding:0px 80px 0px 100px;

}


.ratings-container {
	display: flex;
	justify-content: center; 
}
.fourth-ratings {
	width: 75%;
	display: flex;
	justify-content: center;
	gap:3vw;
	/*min-height:34vw;*/
}



.rating-user{ /*Each independent user box*/
	height: 31vw;
	background:white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border:2px solid rgb(39,39,39,0.2);
	border-radius: 14px;
	/*padding:3vw;*/
}

.rating-user > img {
	height: 12vw;
	width: 12vw;
}

.rating-user > p {
	color: rgb(39,39,39,0.7);
	text-align: center;
	font-size: 23px;
	margin: 40px 62px;
}


.rating-stars{
	/*background:red;*/
	/*height:400px;*/
}
.rating-stars > img {
	height:3vh;
	/*height:400px;*/
}

/*This is the fifth section*/


.fifth-section {
	margin-top:20vw;
	/*height: 10vh;*/
	background:rgb(247, 247, 247);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap:10vh;
}


.partners-container {
	/*background:blue;*/
	width: 76%;
	display: flex;
	justify-content: space-between;
	gap:1vw;
}


.partners-container > img {
	height: 8vh;
}

.newsletter-container{
	background: linear-gradient(to right, #004586,#553186, #CE1487);
	color:white;
	width: 76%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.subscribe-message,.email-section{
	/*margin:40px 50px;*/
	/*border: 4px solid red;*/
	height: 100%;
	display: flex;
	align-items: center;
}

.subscribe-message{
	width: 30%;
	padding:20px 40px;
}


.email-section{
	justify-content: center;
	height:14vh;
	width:50%;
	display: flex;
	justify-content: center;
}

.email-section > input {
	height: 70%;
	width: 70%;
	border:none;
	border-radius: 8px 0px 0px 8px ;
	background: white;
}

input[type="text"] {
	padding:20px;
	font-size: 20px;
	color:grey;
}

.email-section > button {
	color:white;
	font-size: 20px;
	height: 70%;
	border:1px solid white;
	border-radius: 0px 8px 8px 0px ;
	background:rgb(35, 164, 237);
	padding:10px;
} 


/*.second-section,.first-section,.third-section,.fourth-section{
	display: none;
} */

/*This is the pricing section*/
.pricing-section{
	min-height:120vh;
}

.pricing-container{
	display: flex;
	background:rgb(247, 247, 247);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:10px;
	margin-bottom: 20vh;

}


.pricing-header{
	text-align: center;
	margin:13vh auto;
}

.pricing-header > h1 {
	font-size: 58px;
	color:rgb(37, 42, 65);
	padding:20px;
}

.pricing-header > p {
	color: rgb(39,39,39,0.6);
	font-size:23px; 
	width: 100%;
}

.pricing-cards-container{
	display: flex;
	justify-content: center;
	/*align-items:center;*/
	width: 90%;
	min-height: 110vh;
	gap:4px;
}

.pricing-card{
	border:1px solid rgb(35, 164, 237);
	border-radius: 8px; 
	/*background: rgb(37, 42, 65);*/
	background: white;
	width: 30vw;
	min-height:90vh;
	display: flex;
	color:white;
	flex-direction: column;
	align-items: center;
	gap:6vh;
	color:rgb(37, 42, 65);
	padding:80px 10px;
	background: white;
}

.image-description > p{
	color:black;
}

.pricing-card:hover{
	background: rgb(37, 42, 65);
}

.pricing-card:hover .sub-package{
	color:white;
}
.pricing-card:hover .sub-package-description{
	color:white;
}


.pricing-card:hover .image-description > p{
	color:white;
}
.pricing-card:hover .sub-items .sub-list-item .image-description{
	color:white;
}

.pricing-push{
	margin-top: 8vh;
}


.sub-package{
	text-align: center;
}

.sub-package-description{
	font-weight: 800;
	width: 50%;
	text-align: center;
	font-size: 23px;
	/*padding:15px;*/
	color:rgb(39,39,39,0.6);
}


.sub-price-amount{
	width: 100%;
	padding:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:2vh;
}

.amount-num,.amount-description{
	color:rgb(35, 164, 237);
	font-weight: 600;
}
.amount-num{
	font-size:30px;
}
.amount-description{
	font-size:23px;
	display: flex;
	flex-direction: column;
	gap:7px;
}


.sub-items{
	/*background: green;*/
	width: 100%;
}

.sub-list-item{
	margin:20px;
	/*border: 4px solid yellow;*/
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*gap:20px;*/
}

.image-left{
	width: 15%;
	/*border: 4px solid cyan;*/
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-left > img {
	width: 50px;
	height: 50px;
}

.image-description{
	/*border:4px solid blue;*/
	color:rgb(37, 42, 65);
	font-size: 23px;
	width: 80%;
	font-weight: 500;
}


.white{
	color:white;
}


.try-button{
	width: 80%;

}


.try-button > button{
	border-radius: 8px;
	color:white;
	font-size: 25px;
	width: 100%;
	border: none;
	background:rgb(35, 164, 237);
	padding:20px;
}




/*This is the seventh section*/
.seventh-section{
	background:rgb(37, 42, 65);
	width: 100%;
	/*gap:500px;*/
	display: flex;
	height: 100vh; 
	justify-content: center;
	/*align-items: center;*/
	gap:3vw;
}


.text-section,.worldmap{
	max-height: 50%; 
	margin:2vw;
}

.text-section{
	color:white;
	/*border:4px solid red;*/
	width: 40%;
	padding:20px;
}

.text-section > h1{
	font-size: 50px;
	padding:20px;
}


.text-section > p{
	font-weight: 200;
	font-size: 23px;
	padding:10px 20px;
}



.worldmap {
	width: 40%;
}


.worldmap > img{
	width: 90%;
	height: 80%;
}





/*This is the book appointment section*/
.form-section{
	min-height:60vh;
	background:rgb(247, 247, 247);
	/*background: black;*/
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}


.form-section-container{
	background:white;
	margin-top:-30vh;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-image-container,.form-section-wrapper{
	padding:20px;
	background: white;
	height: 100%;
}


.form-image-container{
	background-image: url(images/contact.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.form-image-container{
	width: 37%;
}

.form-section-wrapper{
	width: 70%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	gap:20px;
	/*background: red;*/
}
.form-section-wrapper > h1{
	margin-top:20px;
}



.form-input-holder{
	padding:5px;
	/*background: yellow;*/
	width: 90%;
	display: flex;
	flex-direction: column;
	gap:10px;
}

.form-input-holder > label {
	font-size: 20px;
	color:rgb(37, 42, 65);
	font-weight: 600;
}

.form-input-holder > input,.form-input-holder > select{
	background:rgb(247, 247, 247);
	border:1px solid rgb(27, 27, 27,0.3);
	border-radius: 8px;
	width:100%;
}

.form-input-holder > select{
	padding: 20px;
	font-size: 20px; 
	color:rgb(27, 27, 27,0.5);
	font-weight: 500;
}


input[type="text"] {
	font-weight: 500;
}

.form-input-holder > button{
	padding:25px;
	border: none;
	background:rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size:20px;
}


/* This is the Consulting Section*/
.consulting-section{
	background:rgb(247, 247, 247);
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.consulting-container{
	padding:20px;
	width: 76%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.consulting-section-right,.consulting-section-left{
	/*border:4px solid red;*/
	min-width: 20%;
	min-height:4vw;
}

.consulting-section-right > button {
	padding:25px;
	width: 100%;
	border: none;
	background:rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size:20px;
}

.consulting-section-left{
	display: flex;
	flex-direction: column;
	gap:10px;
}

.consulting-section-left > h1 {
	color:rgb(37, 42, 65);
}
.consulting-section-left > p {
	color: rgb(39,39,39,0.6);
	font-size: 20px;
}

/* This is the info Section*/
.info-section{
	height: 40vh;
	background: white;
	width: 100%;
	padding: 1vw 12vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:2vw;
	/*border: 3px solid yellow;*/
}

.info-sub-section{
	/*border: 1px solid red;*/
	height:80%;
	width: 19vw;
}

.info-sub-section > h1 {
	padding:20px;
	font-size: 24px;
	/*color:rgb(39,39,39,0.9); */
	font-weight: 600;
}

.info-sub-section > p {
	color:rgb(39,39,39,0.6);
	font-weight: 500;
	font-size: 20px; 
	padding:10px 20px ; 
}


/*Tablet screens*/
@media screen and (max-width: 1500px){
	body {
		/*background:blue;*/
	}

	.first-section{
		background:url('images/hero.png');
		background-size: 100% 100%;
		background-position: center;
		min-height: 77vw;
	}

	.first-section-title{
		width:96vw;
	}

	.left-sub-title{
		/*gap:0.1vw;*/
	}

	.list {
		margin: 1vw;
	}


	.brand-links > li >  a,.right-sub-title > li > a {
		font-size:2vw;
	}

	.brand-name > li >  a {
		font-weight: 700;
		font-size:2.5vw;
	}



	.right-sub-title > button {
		margin:1vw;
		font-size:2vw;
		padding:1vw;
	}


	.first-section-body{
		max-width: 90%;
		min-height: 60vw;
	}

	.first-section-body > h1 {
		font-size: 7vw;
		margin-top: 6vw;
	}

	.first-section-body > p {
		font-size: 2vw;
		/*margin-top: 1vw;*/
	}


	.second-section-container{
		width: 95%;
	}


	.second-sub-section{
		margin-top: -5vw;
		padding:0.8vw;
		padding-left:2vw;
		height:28vw;
		width:32%;
	}

	.second-section-icon{
		height: 7vw;
		width: 7vw;
	}

	.second-sub-section > h1 {
		font-size: 2.2vh;
	}


	.second-sub-section > p {
		font-size: 1.8vw;
		padding:20px 80px 0px 0px;
	}


	.third-section {
		min-height:30vw;
		/*background: blue;*/
	}

	.third-section-container{
		width: 95%;
	}

	.third-sub-section{
		padding:2vw;
		width:30%;
		height:28vw;
		gap:1vw;
	}

	.third-sub-section > h1 { 
		font-size: 2.3vw;

	}

	.third-sub-section > p { 
		font-size: 1.5vw;
	}

	.third-section-icon {
		width: 10vw;
		height: 10vw;
		margin:2vw auto;
	}

	.fourth-section{
		min-height: 30vw;
		background:rgb(247, 247, 247);
		/*background:red;*/
	}

	.fourth-header{
		width: 95vw;
	}

	.fourth-header > h1 {
		padding: 2vw;
		font-size:6.5vw;
	} 
	.fourth-header > p {
		color: grey;
		font-size: 1.8vw;
		padding:0px 80px 0px 100px;
	}



	.fourth-ratings {
		width: 97%;
		gap:1vw;
	}



	.rating-user{ /*Each independent user box*/
		height: 48vw;
		border:2px solid rgb(39,39,39,0.2);
	}

	.rating-user > img {
		height: 12vw;
		width: 12vw;
	}

	.rating-user > p {
		font-size: 1.8vw;
	}

	.rating-stars > img {
		height:3vw;
	}


	.fifth-section {
		margin-top:10vw;
	}


	.partners-container {
		width: 95%;
	}

	.partners-container > img {
		height: 7vw;
	}

	.newsletter-container{
		width: 96%;
	}


	.subscribe-message{
		width: 40%;
		padding:1vw 1vw;
	}

	.subscribe-message > h1{
		font-size:2.3vw;
	}

	.email-section{
		height:6vh;
		width:50%;
		margin:1vw 1vw;
	}

.email-section > button {
	height:70%;
} 



	.pricing-container{
		gap:10px;
		margin-bottom: 5vh;
	}


	.pricing-header > h1 {
		font-size:6.5vw;
	}

	.pricing-header > p {
		color: rgb(39,39,39,0.6);
		font-size:2.8vw; 
	}

	.pricing-cards-container{
		width: 100%;
		min-height: 50vh;
	}

	.pricing-card{
		width: 32.5vw;
		min-height:90vh;
		gap:3vh;
		padding:3vw 0px;
	}

	.pricing-push{
		margin-top: 1vh;
	}

	.sub-package-description{
		width: 90%;
	}

	.sub-price-amount{
		max-width: 80%;
		gap:2vh;
	}
	.amount-num{
		font-size:3vw;
	}
	.amount-description{
		font-size:1.8vw;
	}


	.sub-list-item{
		/*border: 4px solid yellow;*/
		height: 7vw;
	}

	.image-left > img {
		width: 40px;
		height: 40px;
	}

	.image-description{
		font-size: 1.9vw;
		padding:1vw;
		width: 100%;
	}

	.seventh-section{
		gap:1vw;
		display: flex;
		justify-content: center;
	}


	.text-section,.worldmap{ 
		margin:1vw;
		/*max-height: 35%; */
		/*border: 4px solid red;*/
	}

	.text-section > h1{
		font-size: 4vw;
	}

	.text-section > p{
		font-size: 2.6vw;
	}
	.text-section{
		width: 60%;
	}
	.worldmap {
		width: 70%;
	}

	/*This is the book appointment section*/

	.form-section-container{
		width: 97%;
	}

	.consulting-container{
		width: 97%;
	}

	.consulting-section-right > button {
		padding:2vw;
		width: 100%;
		font-size:2.4vw;
	}

	.info-section{
		gap:1px;
		padding: 0px;
	}

	.info-sub-section{
		width: 19vw;
	}

	.info-sub-section > h1 {
		padding:2.8vw;
		font-size: 2.8vw;
	}

	.info-sub-section > p {
		font-size: 2vw; 
		padding:10px 21px ;
	}


/*End of tablet screen*/
}

/*Phone screens*/
@media screen and (max-width: 650px){

	body {
		/*background: yellow;
		width:80vw;*/
	}

	.first-section{
		background:url('images/hero.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 120vw;
	}

	.first-section-title{
		max-width:90vw;
	}


	.list {
		margin: 1vw auto;

	}

	.left-sub-title{
		gap:4px;
	}

	.brand-links{
		gap:3px;
		display: none;
	}

	.brand-links > li >  a,.right-sub-title > li > a {
		font-size:4vw;
		display: none;
	}

	.brand-name > li >  a {
		font-size:5vw;
	}



	.right-sub-title{
		width: 10%;
		height:50px;	
	}

	.right-sub-title > button {
		display: none;
	}


	.right-sub-title > img {
		/*background: yellow;*/
		height: 50px;
		width: 55px;
	}



	.first-section-body{
		max-width: 100%;
		min-height: 90vw;
	}

	.first-section-body > h1 {
		font-size: 7vw;
		margin-top: 6vw;
	}

	.first-section-body > p {
		font-size: 4vw;
		/*margin-top: 1vw;*/
	}

	.buttons > button {
		padding: 10px;
	}

	.second-section-container{
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/*gap:1vh;*/
	}

	.second-sub-section{
		padding: 3vw;
		width:100%;
		margin:1vh;
		min-height:40vw;
	}

	.second-sub-section > h1 {
		font-size: 6vw;
	}

	.second-sub-section > p {
		font-size: 4vw;
	}


.third-section {
		min-height:30vw;
	}

	.third-section-container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 95%;
	}

	.third-sub-section{
		width:100%;
		height:58vw;
		gap:2vw;
	}

	.third-sub-section > h1 { 
		font-size: 6vw;
	}

	.third-sub-section > p { 
		font-size: 4vw;
	}

	.third-section-icon {
		width: 10vw;
		height: 10vw;
		margin:2vw auto;
	}


/*start here*/

/*	.fourth-section{
		min-height: 30vw;
	}*/

	.fourth-header{
		width: 100vw;
	}

	.fourth-header > h1 {
		padding: 1vw;
		font-size:9vw;
		width:100%;
	} 
	.fourth-header > p {
		color: grey;
		font-size: 4vw;
		width: 80%;
		margin:0px auto;
		/*border: 4px solid red;*/
		padding:0px 0px 0px 0px;
	}


	.fourth-ratings {
		width: 90%;
		gap:1vw;
	}



.fourth-ratings {
	flex-direction: column;
	align-items: center;
	gap:2vh;
}


	.rating-user{ /*Each independent user box*/
		gap:0px;
		min-height: 100vw;
		width: 99%;
		border:2px solid rgb(39,39,39,0.2);
	}

	.rating-user > img {
		height: 44vw;
		width: 44vw;
	}

	.rating-user > p {
		font-size: 3.5vw;
	}

	.rating-stars > img {
		height:5vw;
	}


	.fifth-section {
		margin-top:10vw;
		align-items: flex-start;
	}


	.partners-container {
		width: 99%; 
	}

	.partners-container > img {
		height: 6vw;
	}

	.newsletter-container{
		width: 100%;
		flex-direction: column;
	}


	.subscribe-message{
		justify-content: center;
		width: 100%;
	}

	.subscribe-message > h1{
		font-size:5vw;
		padding: 2vw 2vw;
	}

	.email-section{
		/*background: red;*/
		height:7vh;
		width:96%;
		margin:1vw 1vw;
	}


	.pricing-container{
		gap:10px;
		margin-bottom: 5vh;
	}


	.pricing-header > h1 {
		font-size:9vw;
	}

	.pricing-header > p {
		font-size:4vw; 
	}

	.pricing-cards-container{
		width: 100%;
		min-height: 50vh;
		flex-direction: column;
		align-items: center;
	}

	.pricing-card{
		/*background: red;*/
		width: 79vw;
	}

	.sub-price-amount{
		max-width: 90%;
		gap:1vh;
	}
	.amount-num{
		font-size:9vw;
	}
	.amount-description{
		font-size:6vw;
	}

	.sub-items{
		/*background:blue;*/
		flex-direction: row;
	}

	.sub-list-item{
		gap:1vw; 
		/*background: red;*/
		height: 7vh;
		margin:0px;
	}

	.image-left > img {
		width: 60px;
		height: 60px;
	}

	.image-description{
		/*background: yellow;*/
		font-size: 4vw;
		padding:1vw;
		width: 80%;
	}

	.seventh-section{
		gap:8vh;
		height:110vh;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin:22vh 0vh ;
	}

	.text-section{
		width: 100%;
		padding:0px;
	}

	.text-section > h1{
		font-size: 9vw;
	}


	.text-section > p{
		font-size: 6vw;
	}

.worldmap {
	width: 100%;
	height: 50vh;
}




	/*This is the book appointment section*/

	.form-section-container{
		width: 100%;
	}


	.form-image-container,.form-section-wrapper{
		padding:5vw;
	}

	.form-image-container{
		display: none;
	}

	.form-section-wrapper{
		width: 100%;
	}
	.form-section-wrapper > h1{
		margin-top:20px;
		font-size: 7vw;
	}

	.form-input-holder{
		padding:1vw;
		width: 100%;
		gap:1vh;
	}



	.consulting-container{
		width: 100%;
		height: 90%;
		flex-direction: column;
		justify-content: center;
		gap:2vh;
	}

	.consulting-section-right,.consulting-section-left{
		min-width: 70%;
		/*background: red;*/
	}

	.consulting-section-right > button {
		padding:3vw;
		font-size:4vw;
	}



	/* This is the info Section*/
	.info-section{
		min-height: 240vw;
		width: 100%;
		padding: 1vw;
		flex-direction: column;
		gap:0px;
	}



	.info-sub-section{
		width: 100vw;
		margin: 0px;
		padding:0px;
		height: 30%;
		/*border: 4px solid red;*/
	}

	.info-sub-section > h1 {
		padding:3vw;
		font-size: 6vw;
	}

	.info-sub-section > p {
		font-size: 4vw; 
		padding:2vw 3vw;
	}



/*End of mobile screen*/
}

